<% if is_new_message %>
<div class="comment">
  <a class="avatar">
    <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
  </a>  
  <div class="content">
    <a class="author"><%= user.full_name %></a>
    <div class="metadata">
      <span class="date"><%= Time.now.strftime('%H:%M:%S') %></span>
    </div>
    <div class="text">
      <%= message %>
    </div>
  </div>
</div>
<% else %>
  <div class="text">
    <%= message %>
  </div>
<% end %>