$headerHeight: 50px;
$sidebarwidth: 20%;
body.chat {
  section#content {
    header {
      height: $headerHeight;
      padding: 0 20px;
      color: #FFF;
      background: #f96a52; /* Old browsers */
      background: -moz-linear-gradient(left, #f96a52 0%, #de2f7f 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #f96a52 0%,#de2f7f 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #f96a52 0%,#de2f7f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f96a52', endColorstr='#de2f7f',GradientType=1 ); /* IE6-9 */
      h1 {
        float: left;
        margin: 7px 0;
      }
      .items-right {
        float: right;
        margin: 14px 0;
        > .item {
          display: inline-block;
          vertical-align: middle;
        }
      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    .sidebar-left {
      position: absolute;
      top: $headerHeight;
      left: 0;
      bottom: 0;
      width: $sidebarwidth;
      background: #25323f;
      .search-container {
        border-bottom: 1px solid #3e5162;
        padding: 15px 20px;
        .input {
          width: 100%;
        }
      }
      .users {
        .user {
          padding: 10px 20px;
          border-bottom: 1px solid #3e5162;
          cursor: pointer;
          .avatar, .name {
            display: inline-block;
            vertical-align: middle;
          }
          .avatar {
            margin-right: 10px;
            img {
              border-radius: 100%;
              max-height: 40px;
            }
          }
          .name {
            color: #FFF;
            font-weight: bold;
          }
          &:hover {
            background: rgba(255,255,255,0.08);
          }
        }
      }
      .navigation {
        position: absolute;
        left: 0; right: 0;
        bottom: 0;
        height: 59px;
        background: #3e5162;
        ul {
          display: table;
          width: 100%;
          margin: 0;
          padding: 0;
          li {
            display: table-cell;
            width: 1%;
            color: #d5d3d3;
            border-bottom: 5px solid #3e5162;
            line-height: 52px;
            text-align: center;
            cursor: pointer;
            font-size: 20px;
            &.selected {
              border-color: #5282b5;
              background: rgba(255,255,255,0.08);
              color: #FFF;
            }
            &:not(.selected):hover {
              color: #FFF;
              background: rgba(255,255,255,0.08);
              border-color: rgba(255,255,255,0.08);
            }
          }
        }
      }
    }
    .chat-room-container {
      position: absolute;
      right: 0;
      bottom: 0;
      top: $headerHeight;
      left: $sidebarwidth;
      background: #f5f9fd;
      #messages {
        padding: 20px;
        .message {
          margin-bottom: 15px;
          .avatar {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            img {
              border-radius: 100%;
              max-height: 30px;
            }
          }
          .content {
            display: inline-block;
            vertical-align: top;
            padding: 10px 15px;
            min-width: 200px;
            max-width: 500px;
            background: #f96a52; /* Old browsers */
            background: -moz-linear-gradient(left, #f96a52 0%, #de2f7f 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #f96a52 0%,#de2f7f 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #f96a52 0%,#de2f7f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f96a52', endColorstr='#de2f7f',GradientType=1 ); /* IE6-9 */
            color: #FFF;
            border-radius: 10px;
            .author {
              color: #FFF;
              font-weight: bold;
            }
            .metadata {
              font-size: 9px;
              opacity: 0.5;
              float: right;
            }
          }
        }        
      }
      #form-message {
        position: absolute;
        left: 0; right: 0;
        bottom: 0;
        padding: 20px;
        background: #FFF;
        box-shadow: -5px -5px 10px rgba(150,150,150,0.1);
        .input {
          width: 100%;
        }
      }
    }
  }
}