body.session-form {
  @include animatedGradient(15s);
  #session-form-container {
    max-width: 400px;
    margin: 50px auto;
    .session-form-header {
      margin-bottom: 20px;
      text-align: center;
      color: #FFF;
    }
  }
}